:root {
    --primary-color: #9C27B0;
    --dark-primary-color: #7B1FA2;
    --accent-color: #00BCD4;
    --map-hieght: 2400px;
    --map-width: 1800px;
    --scale-ratio: 0.30;
}

html * {
    font-family: Roboto;
    font-size: 15px;
}

.map {
    width: var(--map-width);
    height: var(--map-height);
    transform: scale(var(--scale-ratio));
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.controls {

    padding-left: 20px;
}

.map-overlay {
    margin: 0 auto;
    box-flex: 1;
    flex: 1;
    text-align: left;
    overflow: visible;
    z-index: 1;
    pointer-events: none;
    /* border: white;
    border-width: 50px;
    border-style: solid;  */
    text-align: center;
}

.mapOverlayCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale-ratio))!important;
}

.mapAreaCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mapArea {
    margin: 0 auto;
    box-flex: 1;
    flex: 1;
    text-align: left;
    overflow: visible;
}


/* Postition map */

.preview {
    background: #f2f2f2;
    padding: 22px 50px 29px 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 460px;
    bottom: 0;
    display: box;
    display: flex;
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 6em;
    overflow: hidden;
}

.wrapper .configure {
    overflow-y: scroll;
    width: 460px;
    height: 100vh;
    float: right;
    background: #fff;
    position: relative;
}

.topnav {
    margin-bottom: 30px;
}

main,
menu,
nav,
section,
summary {
    display: block;
}

.pac-controls {
    display: inline-block;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    font-family: Roboto;
    text-overflow: ellipsis;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background: #9C27B0;
}

body {
    margin: 0;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: var(--primary-color);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    font-family: Roboto;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: var(--accent-color);
    color: black;
}

.export-button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.export-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom:10px
}

.section-label {
    font-family: Roboto;
}


/*Selector*/

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


/* Remove focus */

select:focus {
    outline: none;
}


/* Remove deafult arrow */

.style-selector-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.style-selector-container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 90%;
    margin-top: 20px;
}

.style-selector-container:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

.overlay-controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.overlay-controls span {
    padding-right: 5px;
}

input[type="color"] {
    -webkit-appearance: none;
    display: inline-block;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.color-picker-section {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-picker-section span{
    font-size: 14px;
}

.slider-input {
    max-width: 20%;
    padding: 0px;
    margin-top: 10px;
}

.style-subsection-header {
    padding: 5px 0px;
    margin: 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.style-subsection-header span{
    font-size: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    height: 1px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}


/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.38);
  }