:root{
    --country-ornamental-pos: 106%;
    --country-ornamental-color: #000000;
    --country-ornamental-width: 3em;
    --country-overlay-font: Montserrat, sans-serif;
    --city-overlay-font:  Montserrat, sans-serif;
    --location-overlay-font: Montserrat, sans-serif;
    --overlay-font-color: black;
    --overlay-gradient-color: white;
    --overlay-gradient-base-color: rgba(255,255,255,0);
    --text-overlay-height: .25;
    
}


.text-wrapper {
    margin-bottom: 5%;
}



.text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Fill the top portion of the container with an empty div */
.text-filler {
    order: 0;
    flex: calc(1 - var(--text-overlay-height)) calc(1 - var(--text-overlay-height)) auto;
}

.text-overlay {
    flex: var(--text-overlay-height) 1 auto;
    order: 1;
    background: linear-gradient(to bottom, var(--overlay-gradient-base-color) 0, var(--overlay-gradient-color) 35%, var(--overlay-gradient-color) 35%)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.city-overlay {
    font-size: 190px;
    pointer-events: none;
    z-index: 2;
    margin: 0px auto;
    font-family: var(--city-overlay-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2%;
    display: block;
    letter-spacing: .2em;
    text-indent: .2em;
    color: var(--overlay-font-color);
}

.country-overlay {
    font-size: 100px;
    pointer-events: none;
    z-index: 2;
    margin: 0px auto;
    font-family: var(--country-overlay-font);
    font-weight: 400;
    letter-spacing: .5em;
    text-indent: .5em;
    display: inline-block;
    zoom: 1;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 5%;
    color: var(--overlay-font-color);
}

.country-overlay:after {
    content: '';
    display: block;
    width: var(--country-ornamental-width);
    position: absolute;
    top: 50px;
    border-top: 5px solid var(--country-ornamental-color);
    right: var(--country-ornamental-pos);
    color: var(--overlay-font-color);
}

.country-overlay:before {
    content: '';
    display: block;
    width: var(--country-ornamental-width);
    position: absolute;
    border-top: 5px solid var(--country-ornamental-color);
    top: 50px;
    left: var(--country-ornamental-pos);    
}

.coord-overlay {
    pointer-events: none;
    z-index: 2;
    margin: 0px auto;
    display: block;
    font-family: var(--location-overlay-font);
    font-weight: 100;
    line-height: 1;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #A3A3A3;
    color: var(--overlay-font-color);
}