{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "code" : ["warn", 120],
        "import/extensions": "off",
        "no-new": 0
    },
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType" : "module"
    }
}
